@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-1{
    background-image: url(https://rare-gallery.com/thumbnail/407382-Jujutsu-Kaisen-anime-sunglasses-white-hair-blue-eyes.png);
    background-repeat: no-repeat;
    background-size: contain;
}